@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#38bdf8 0.5px, #FFFFFF 0.5px);
    background-size: 10px 10px;
}
